<ul class="menu">

    {% for steve in site.data.menu %}
    {% if steve.subcategories != null %}
    <li><a href="{{ steve.href }}" class="page-link">{{ steve.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in steve.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ steve.href }}" class="page-link">{{ steve.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    <li class="theme-toggle">
        <a href="javascript:void(0)" id="theme-toggle-btn" title="Toggle dark mode">
            <i class="fa fa-sun" id="theme-icon"></i>
        </a>
    </li>
    </ul>
